<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Shopping list
      
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
      <ion-searchbar (ionChange)="onSearchInputChanged($event)"></ion-searchbar>
      <ion-label slot="end">Adquirido </ion-label>
      <ion-item-sliding *ngFor="let producto of productos">
    <ion-item>        
        <ion-text >
            <h2>{{ producto.nome }}</h2>
          </ion-text>       
    </ion-item>
    <ion-item-options side="end" color="red">

      <button ion-button (click)="delete(producto)">
          <ion-icon name="trash"></ion-icon>Delete
      </button>
  </ion-item-options>
   
  </ion-item-sliding>
 </ion-list>
 <ion-fab-button size="small" color="primary" [routerLink]="['/add-producto/']" routerDirection="forward">+</ion-fab-button>
 
</ion-content>
