<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Shopping list

    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
      <ion-searchbar (ionChange)="onSearchInputChanged($event)"></ion-searchbar>
      <ion-item-sliding *ngFor="let producto of productos">
      <ion-card>
       <ion-item>
         <ion-text >
             <h2>{{ producto.nome }}</h2>
           </ion-text>
       </ion-item>
      <ion-card-content>
         <b>Descricao:</b> {{producto.descricao}}
      </ion-card-content>
       <ion-card-content>
        <b> Quantidade:</b> {{producto.qtd}}
       </ion-card-content>
       <ion-card-content>
         <ion-item>
            <b> Adicionado ao cesto: </b>   <ion-toggle color="primary" size="small"  slot="end"></ion-toggle>
         </ion-item>


       </ion-card-content>
     </ion-card>



    <ion-item-options side="end" color="ff0000">

      <button ion-button (click)="delete(producto)">
          <ion-icon name="trash"></ion-icon>Delete
      </button>
  </ion-item-options>

  </ion-item-sliding>
 </ion-list>
 <ion-fab-button  color="primary" [routerLink]="['/add-producto/']" routerDirection="forward">+</ion-fab-button>

</ion-content>
